@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.modalOutside {
  @include position(fixed, 0, 0, 0);
  @include size(100%, 100%);
  backdrop-filter: blur(3px) contrast(60%);
  -webkit-filter: blur(3px) contrast(60%);
}

.modalContainer {
  @include position(fixed, 40%, inherit, 50%);
  transform: translate(50%, -50%);
  z-index: 1;
  width: 312px;
  min-height: 150px;
  padding: 24px 16px;
  background-color: $greyLightColor;
  border-radius: 8px;
  box-shadow: $shadow1;
  @include gridRow(auto 1fr, end, center);
  gap: 10px;

  .title {
    @include font($baseFontColor, 1.1rem, center);
    font-weight: bolder;
  }

  .messageOk {
    @include size(200px, 200px);
    @include font($accentMediumColor, 1.2rem, center);
    font-weight: bolder;
    @include backgroundImg(65% 65%, 120px);
  }

  .messageError {
    @include font($redColor, 1.1rem, center);
    font-weight: bolder;
    @include animationOpacity();
  }

  .form {
    @include gridRow(auto 1fr, stretch, stretch);
    gap: 28px;

    .formFields {
      @include gridRow(repeat(4, 1fr), center, start);
      gap: 12px;

      .field {
        position: relative;

        .label {
          display: block;
          @include font($greyDarkColor, 1rem, left);
        }

        .fieldInput {
          @include input();
          width: 280px;
        }

        .error {
          border-bottom: 1px solid $redColor;
        }

        .fieldError {
          @include position(absolute, 56px, 0, 4px);
          @include font($redColor, 0.8rem, right);
        }
      }
    }

    .btnAria {
      @include gridColumn(1fr 1fr, stretch, stretch);
      gap: 20px;

      .btn {
        @include button($activeColor);

        &:disabled {
          color: $greyDarkColor;
        }
      }
    }
  }

  //del Modal
  .btnAriaDel {
    justify-self: stretch;
    @include gridColumn(1fr 1fr, stretch, stretch);
    gap: 20px;

    .btn {
      @include button($activeColor);

      &:disabled {
        color: $greyDarkColor;
      }
    }
  }

  .delErrMessage {
    @include position(absolute, 54px, 0, auto);
  }

}