@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.container {
  padding-top: 26px;
  min-width: 400px;
  max-width: 1000px;
  width: 80%;
  justify-self: start;
  @include starDecor();
  @include gridRow(auto 1fr, start, center);
  gap: 28px;
  @media screen and (max-width: 1000px) {
    padding-top: 0;
    justify-self: center;
  }
  @media screen and  (max-height: 400px) {
    padding-top: 0;
    justify-self: center;
  }
  .title {
    @include font($baseFontColor, 4rem, start);
    font-weight: bolder;
    @media screen and (max-width: 964px) {
      font-size: 3.5rem;
      margin: auto;
    }
    @media screen and (max-width: 1000px) and (max-height: 500px) {
      font-size: 2.5rem;
      margin: auto;
    }

    @media screen and (max-height: 280px){
      font-size: 1.5rem;
    }
  }

  .btn {
    @include dashedBorderAria(10% 100%, 100px);
    background-color: rgba(247, 247, 247, 0.38);
    @include size(60%, 36%);
    min-width: 306px;
    min-height: 180px;
    font-size: 1.5rem;
    @media screen and (max-height: 280px){
      min-height: 120px;
    }

    &:hover {
      @include animationScale();
    }

    &:active {
      color: $activeColor;
    }
  }
}