@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.container {
  padding-top: 80px;
  min-width: 600px;
  width: 50%;
  @media screen and (max-width: 1000px) {
    padding-top: 20px;
    justify-self: center;
  }
  @media screen and (max-width: 618px) {
    min-width: 500px;
  }
  @media screen and (max-width: 520px) {
    min-width: 340px;
  }
  @media screen and (max-width: 375px) {
    min-width: 240px;
  }

  @include animationOpacity();
  @include starDecor();

  .content {
    @include gridLayout(start, stretch);
    grid-template-areas:
      "A   B   "
      "A   D  "
      "A   C ";
    column-gap: 20px;
    row-gap: 10px;
    box-shadow: $shadow1;
    background-color: rgba(247, 247, 247, 0.6);
    padding: 30px 40px 60px;
    border-radius: 8px;
    width: 100%;
    @media screen and (max-width: 1000px) {
      padding: 16px 16px 20px;
      column-gap: 10px;
    }
    @media screen and (max-width: 600px) {
      align-items: center;
    }
    @media screen and (max-width: 520px) {
      grid-template-areas:"A " "B" "D" "C ";
      justify-items: center;
      width: 100%;
    }

    .avatar {
      grid-area: A;
      @include size(200px, 200px);
      min-width: 200px;
      position: relative;

      &:hover {
        @include animationScale();
      }

      .avatarImg {
        border-radius: 8px;
        object-fit: cover;
        position: relative;
        @include size(100%, 100%);
      }

      @include specialBorder($yellowColor);
      @media screen and (max-width: 375px) {
        @include size(160px, 160px);
      }
      @media screen and (max-width: 520px) and (max-height: 700px) {
        @include size(100px, 100px);
      }
    }

    .title {
      grid-area: B;
      @include font($baseFontColor, 4rem, start);
      line-height: 3.6rem;
      font-weight: bolder;
      @media screen and (max-width: 650px) {
        font-size: 3rem;
        line-height: 3rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 2rem;
        line-height: 2rem;
      }
      @media screen and (max-width: 375px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
      @media screen and (max-width: 520px) and (max-height: 700px) {
        font-size: 1.5rem;
        line-height: 1.5rem;;
      }
    }

    .info {
      grid-area: D;
      @include font($accentDarkColor, 1.2rem, start);
      @media screen and (max-width: 618px) {
        font-size: 1rem;
      }
    }

    .btnMenu {
      grid-area: C;
      align-self: end;
      @include gridColumn(1fr 1fr, center, stretch);
      gap: 20px;
      @media screen and (max-width: 620px) {
        gap: 10px;
        justify-items: start;
      }

      .editBtn {
        @include button($activeColor2);
        @media screen and (max-width: 620px) {
          width: 80px;
        }
      }

      .delBtn {
        @include button($redColor);
        @media screen and (max-width: 620px) {
          width: 80px;
        }
      }
    }
  }

}
