$mainFont : 'Barlow Condensed', sans-serif;
$baseFont : 'Poppins', sans-serif;
$headerFont: 'Montserrat', sans-serif;

$baseFontColor: #121212;
$secondFontColor: white;

$accentDarkColor: #481499;
$accentMediumColor: #764abc;
$accentLightColor: #926bcf;
$accentTransparentColor: rgba(146, 107, 207, 0.5);


$activeColor: #1976d2;
$activeColor2: #3992ff;
$activeTransparentColor2: rgba(57, 146, 255, 0.4);



$greyDarkColor: #a4a4a4;
$greyLightColor: #f7f7f7;
$greyMediumColor: #e3e3e3;

$yellowColor:  #eeb004;
$yellowTransparentColor: rgba(238, 176, 4, 0.4);
$redColor: #f44250;
$greenColor: #70af7f;

$shadow1: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
$shadowHover:  0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
$shadowActive: 0 0px 1px hsla(0, 0%, 0%, 0.4);
